.van-card {
    width: 300px;
    display: flex;
    gap: 9px;
    flex-direction: column;

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
        border-radius: 5px;
        grid-area: img;
    }

    .van-details {
        display: flex;
        justify-content: space-between;
        color: #161616;
    }
    
}

// van-category span 
.van-category {
    width: 85px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 12px;
    border: none;
    background-color: orange;
    color: white;
}

.simple-selected {
    background-color: #E17654 !important;
    color: white !important;
}

.luxary-selected {
    background-color: #161616 !important;
    color: white !important;
}

.rugged-selected {
    background-color: #115E59 !important;
    color: white !important;
}