.van-details-page {
    .go-back-btn {
        display: flex;
        align-items: center;
        padding-bottom: 2px;
        gap: 15px;
        text-decoration: none;
        width: 200px;
        border-bottom: 1px solid black;
        margin: 40px;
        color: black;
    }
    .go-back-btn:hover {
        border-bottom: 1px solid blue;

        .icon {
            color: blue;
        }
    }
    .van-details {
        display: flex;
        gap: 50px;
        padding: 20px;

        img {
            width: 500px;
        }

        .van-details-van-data {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            button {
                width: 500px;
                height: 40px;
                border: none;
                background-color: #FF8C38;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500;
                color: white;
            }
        }
    }
}